<div class="product-list">
  @if (products.length > 0) { @for (product of products; track product.id) {
  <mat-card class="product-card">
    <mat-card-header>
      <mat-card-title>{{ product.title }}</mat-card-title>
      <mat-card-subtitle>{{ product.category }}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image [src]="product.thumbnail" alt="{{ product.title }}" />
    <mat-card-content>
      <p>{{ product.description }}</p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>BUY</button>
      <button mat-button>DETAILS</button>
    </mat-card-actions>
  </mat-card>
  } }
</div>
<div>
  @if (products.length === 0) {
  <p>No products available.</p>
  }
</div>
